@model TechEdu.Models.DataAccess.DataObjects.Usuario

@{
    ViewData["Title"] = "Login - Tech Edu";

    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row p-0 m-0 h-100">
    <section id="login" class="col-12 col-md-5 background-default background-login h-100">
        <div class="h-100 d-flex align-items-center">
            <div class="w-100 container-fluid container-lg md-5 px-md-0 px-md-5">
                <div class="card pb-md-5">
                    <div class="card-body d-grid">
                        <h1 class="text-center fs-3 py-5 text-first">Faça seu login</h1>
                        <form asp-action="AuthUser" method="post">
                            <div class="d-grid gap-4">
                                <div class="form-floating">
                                    <input asp-for="Email" class="form-control" type="email" placeholder="seuEmail@mail.com" required />
                                    <label asp-for="Email"></label>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating">
                                    <input asp-for="Senha" class="form-control" type="password" placeholder="sua senha" required />
                                    <label asp-for="Senha" class="control-label"></label>
                                    <span asp-validation-for="Senha" class="text-danger"></span>
                                </div>
                                <div class="d-grid gap-3">
                                     <input type="submit" value="Login" class="default-button btn-lg" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="col col-md-7 d-none d-md-block bg-main-image">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h2 class="text-white fs-1">TechEdu</h2>
        </div>
    </section>
</div>
