@model TechEdu.Models.DataAccess.DataObjects.Aluno

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Aluno</h4>
<hr />
<section class="altera">
    <div class="altera__container wrapper">
        <h2 class="altera__heading">Alterar Usuário</h2>
        <div class="alterar__content">
            <form asp-action="Edit" class="a-form">
                <input type="hidden" asp-for="Id" />
                <div class="cadastro__box">
                    <label asp-for="Turma" class="control-label"></label>
                    <select asp-for="TurmaId" required class="form-control" asp-items="ViewBag.TurmaId"></select>
                    <span asp-validation-for="TurmaId" class="text-danger"></span>
                </div>
                <div class="cadastro__box">
                    <label asp-for="PrimeiroNome" class="control-label"></label>
                    <input asp-for="PrimeiroNome" required class="form-control" />
                    <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
                </div>
                <div class="cadastro__box">
                    <label asp-for="UltimoNome" class="control-label"></label>
                    <input asp-for="UltimoNome" required class="form-control" />
                    <span asp-validation-for="UltimoNome" class="text-danger"></span>
                </div>
                <div class="cadastro__box">
                    <label asp-for="Ra" class="control-label"></label>
                    <input asp-for="Ra" type="number" class="form-control" />
                    <span asp-validation-for="Ra" class="text-danger"></span>
                </div>
                <div class="cadastro__box">
                    <button type="submit" value="Save">ALTERAR</button>
                </div>
            </form>
        </div>
    </div>
</section>
<div>
    <a asp-action="Index">Ver todos os alunos</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
