@page
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using TechEdu.Models.DataAccess.DataObjects
@model TechEdu.Views.Shared._LoginPartialModel

<form asp-controller="Account" asp-action="Logoff" method="post">
    <div class="nav-item dropdown dropstart w-auto">
        <a class="nav-link dropdown-toggle" asp-controller="Home" asp-action="Index" id="navbarDropdownMenuLink" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle pe-3"></i>@User.FindFirstValue(ClaimTypes.Name)
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="px-3 pb-3 d-flex align-items-center">
                <div class="pe-3">
                    <i class="bi bi-person-circle fs-3"></i>
                </div>
                <div>
                    <span class="fs-3">@User.FindFirstValue(ClaimTypes.Name)</span>
                    <span class="fs-5 text-muted">@User.FindFirstValue(ClaimTypes.Email)</span>
                </div>
            </div>
            <li><a class="dropdown-item" href="#">Minha conta</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><button class="dropdown-item" type="submit">Sair</button></li>
        </ul>
    </div>
</form>
