@model TechEdu.Models.DataAccess.DataObjects.Professor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Professor</h4>
<hr />
<section class="altera">
    <div class="altera__container wrapper">
        <h2 class="altera__heading">Alterar Usuário</h2>
        <div class="alterar__content">
            <form asp-action="Edit" class="a-form">
                <input type="hidden" asp-for="Id" />
                <div class="cadastro__box">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="cadastro__box">
                    <label asp-for="Cpf" class="control-label"></label>
                    <input asp-for="Cpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <div class="cadastro__box">
                    <label asp-for="Contato" class="control-label"></label>
                    <input asp-for="Contato" class="form-control" />
                    <span asp-validation-for="Contato" class="text-danger"></span>
                </div>
                <div class="cadastro__box">
                    <button type="submit" value="Save">ALTERAR</button>
                </div>
            </form>
        </div>
    </div>
</section>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
